<div class="col-12 d-flex flex-column">
    <div class="row grey-border-bottom p-4">
        <span class="dark-grey text-extra-medium font-weight-bolder">Sign in</span>
    </div>
    <div class="row d-flex flex-column p-4">
        <div class="row bg-white grey-border rounded p-4 m-1">
          <%= form_with(url: "/sessions", method: "post") do %>
            <div class="row field form-group">
              <%= label_tag(:username, "Enter your username:", class: "dark-grey") %>*
              <%= text_field_tag(:username,'', class: "form-control") %>
            </div>
            <div class="row field form-group">
            <%= submit_tag("Hop in", class: "btn bg-blue text-white") %>
            </div>
          <% end %>
        </div>
    </div>
</div>

