/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-size: 20px;
  color: #53a7e7;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

li i {
  font-size: 25px !important;
}

li:hover {
  background-color: #53a7e7;
  color: white !important;
}

li a:hover {
  font-size: 1rem;
  color: white !important;
}

.blue {
  color: #53a7e7;
}

.bg-blue {
  background-color: #53a7e7;
}

.ice-blue {
  color: #396f9b;
}

.dark-blue {
  color: #213246;
}

.bg-dark-blue {
  background-color: #213246;
}

.dark-grey {
  color: #6e8597;
}

.grey {
  color: #bebfc1;
}

.bg-ligth-grey {
  background-color: #f5f6f8;
}

.black-border {
  border: 1px solid #16272f;
}

.icy-blue {
  color: #b4c5cd;
}

.medium-text {
  font-size: 15px;
}

.big-text {
  font-size: 25px !important;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.small-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.text-extra-medium {
  font-size: 17px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo-text {
  font-family: 'Fredericka the Great', cursive;
  font-size: 35px;
  color: white;
}

.align-self-center {
  overflow-x: hidden;
}

.grey-border-bottom {
  border-bottom: 2px solid #e3e4e6;
}

.grey-border-right {
  border-right: 2px solid #e3e4e6;
}

.grey-border {
  border: 2px solid #e3e4e6;
}

.small-text {
  font-size: 13px;
}

.user-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cover-image {
  width: 100%;
  height: 350px;
}

.full-width {
  width: 100%;
}
